.App {
    font-family: sans-serif;
    text-align: center;
  }

  h1{
    color: orange;
  }
  input {
    height: 32px;
    width: 264px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #b0b0b0;
    border-radius: 32px;
    padding: 5px;
  }
  
  .animes-list {
    display: flex;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    );
    list-style: none;
    grid-gap: 1.5rem;
  }
  
  .animes-list img {
    max-width: 100%;
  }